<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.fitsys.mapper.CheckMapper">
  <resultMap id="BaseResultMap" type="com.fit.fitsys.entity.Check">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="coach_id" jdbcType="INTEGER" property="coachId" />
    <result column="check_time" jdbcType="DATE" property="checkTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>