<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.fitsys.mapper.MemberMapper">
  <resultMap id="BaseResultMap" type="com.fit.fitsys.entity.Member">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="bmi" jdbcType="DOUBLE" property="bmi" />
    <result column="goal" jdbcType="VARCHAR" property="goal" />
    <result column="chooseid" jdbcType="VARCHAR" property="chooseid" />
  </resultMap>
</mapper>